.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  margin: 0 0 50px;
  padding: 0;
  text-align: center;
}

.react-tabs__tab:last-of-type {
  border-right: none;
}
.react-tabs__tab--selected {
  color: #7fa1e8;
}

.react-tabs__tab--disabled {
  color: grey;
  cursor: default;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
  margin:100px;
}
@media (max-width: 700px) {
  .react-tabs__tab-list {
    margin: 0 0 20px;
  }
  .react-tabs__tab{
    font-size: 14px;
  }
}
